<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Login page</title>
<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>
	<div align="center"> 
	<h1>SportyShoes.com</h1>
	<h3>Welcome to admin login page</h3><br><br>
 
    <form action="#" th:action="@{/login}" th:object="${user}" method="post">
    Username : <input type="text" th:field="*{username}" class="form-control required" />
    Password : <input type="password" th:field="*{password}" class="form-control required" />
    </div><br>
    <div align="center">
    <button type="submit" class="btn btn-info" align="right">Login</button></form>
    </div>  
</body>
</html>